* {
	box-sizing: border-box;
}

.testimonial-background {
	background-image: url(../images/pattern-bg.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: auto;
	max-width: 100%;
	padding: 3em;
}

.testimonial-text {
	/* 👏🏼 Chingón */
	background-image: url(../images/pattern-curve.svg);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 100%;
	padding-bottom: 30%;
}

.style-image {
	display: block;
	height: auto;
	margin: auto;
	max-width: 100%;
}

q {
	background-image: url(../images/pattern-quotes.svg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 20%;
	display: block;
	font-family: "Inter", sans-serif;
	font-size: 1.25em;
	font-weight: 300;
	padding-top: 20px;
	text-align: center;
}

span {
	display: block;
	font-family: "Inter", sans-serif;
	font-weight: 300;
	text-align: center;
}

.button-style {
	cursor: pointer;
	max-width: -moz-fit-content;
	max-width: fit-content;
	transition: 0.6s ease;
	background-color: ivory;
	border-radius: 25px;
	box-shadow: -10px 1px 20px hsl(240, 18%, 77%);
}

.button-style:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.prev,
.next {
	padding: 15px;
}
